{%extends 'base.htm'%}

{%block content%}
<div class="container col trial" align = center>
  <br><br>
  <h1 style="margin-top: 5%;">Add {{type}} event </h1>
  <form  method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.title.label}}{{form.title(class = 'form-control col-md-6' ,placeholder="Title" )}}

      <small class = 'text-danger'>{{error}}</small>
    </div>
    <div class="form-group">
      <small class = 'text-danger'></small>
      {{form.description.label}}{{form.description(class = 'form-control col-md-6' ,placeholder="Description" )}}
    </div>
    <div class="form-group">
      <small class = 'text-danger'></small>
      {{form.users.label}}{{form.users(class = 'form-control col-md-6' ,placeholder="seperate by comma for eg. john01,amilia23" )}}
    </div>
    <div class="form-group">
      <small class = 'text-danger'></small>
      {{form.start_date.label}}{{form.start_date(class = 'form-control col-md-6' ,placeholder="yyyy-mm-dd" )}}
    </div>
    <div class="form-group">
      {{form.submit(class ="btn btn-primary")}}
    </div>
  </form>
</div>

{%endblock%}
