{%extends 'base.htm'%}
{%block head%}
<style >
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}
.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.participant {
    margin-bottom: 5px;
    margin-right: 5px;
}
.participant div {
    text-align: center;
}
.participant div video {
    background-color: #ccc;
    border: 1px solid black;
}
.participant div video:not(.participantZoomed) {
    width: 240px;
    height: 180px;
}
.participant .label {
    background-color: #ddd;
}
.participantZoomed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.participantHidden {
    display: none;
}
#mySidenav{
  color: white !important;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
{%endblock%}
{%block content%}
  <br><br><br><br>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" id = "mySidenav" style="font-size: 30px; margin-top: 5%;" align = "right" onclick="closeNav()">X</a>
      <div>
          <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
          <div class="message_holder"></div>

          <form style="font-weight: bolder; font-size: larger;" action="" method="POST">
            <input style="font-weight: 800; color: black;" type="text" value = {{current_user.name}} disabled = "disabled" class="username" placeholder="User Name"/>
            <input type="text" class="message" placeholder="Messages"/>
            <input type="submit"/>
          </form>
      </div>
    </div>
    <center>
<br>
     
      
    <div id = "main">
      <h1 style="font-weight: bolder;">VideoChat Room of:</h1><br>
      <span style="font-size:30px;cursor:pointer; float:right;" onclick="openNav()">
        <i class="fa fa-commenting" style="color: black;"></i>
        <b>Chat</b>
        </span>
        <div style="margin-left: 8%;">
      <h1 >Team {{team.name}}</h1><br>
      <a title="whiteboard" target = "_blank" style="float: right; font-size: 180%;" href="{{url_for('whiteboard' , team_id = team_id)}}">
        <i class="fas fa-chalkboard-teacher" style="font-size:30px;"></i>
        <b>Canvas</b></a>
      <form style="font-size: larger;">
          <label style="font-size: larger;" for="username">Name: </label>
          <input  type="text" name=”username” value = {{current_user.name}} disabled = "disabled"  id="username">
          <button  class="btn btn-primary change" id="join_leave">Join call</button>
          <button  class="btn btn-primary change" id="share_screen" disabled>Share screen</button>
      </form>
      <p style="font-size: x-large; color: red;" id="count">Disconnected.</p>
      <div id="container" class="container">
          <div style="font-size: larger; font-weight: bold;" id="local" class="participant"><div></div><div class="label">Me</div></div>
          <!-- more participants will be added dynamically here -->
      </div>
    </div>
    </div></center>


        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script type="text/javascript">
          var socket = io.connect('http://' + document.domain + ':' + location.port);

          socket.on( 'connect', function() {
            socket.emit( 'my event', {
              data: 'User Connected'
            } )
            var form = $( 'form' ).on( 'submit', function( e ) {
              e.preventDefault()
              let user_name = $( 'input.username' ).val()
              let user_input = $( 'input.message' ).val()
              socket.emit( 'my event', {
                user_name : user_name,
                message : user_input
              } )
              $( 'input.message' ).val( '' ).focus()
            } )
          } )
          socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.user_name !== 'undefined' ) {
              $( 'h3' ).remove()
              $( 'div.message_holder' ).append( '<div><b style="color: white; font-size: larger;">'+msg.user_name+'</b> '+msg.message+'</div>' )
            }
          })
        </script>
        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginRight= "0";
        }
        </script>
{%endblock%}
